node_modules
.pnpm-store
.env
.env.local
.env.*.local
.DS_Store
out
.next
cache
artifacts
cache
coverage

# Hardhat
packages/contracts/artifacts
packages/contracts/cache

# Next
apps/web/.next
apps/web/out
